{% extends "base.html" %}
{% load url from future %}

{% block welcome %}{% endblock %}

{% block content %}
{% if form.errors %}
<p class="error">Username and password did not match. Please try again. [<span class="close">close</span>]</p>
{% endif %}


<form method="post" action={% url 'django.contrib.auth.views.login' %}>
{% csrf_token %}
	<div class="form-container">
		<span class="form-label">{{ form.username.label_tag }}</span> <span class="form-element">{{ form.username }} </span> <br class="clr" />
		<span class="form-label">{{ form.password.label_tag }}</span> <span class="form-element">{{ form.password }} </span> <br class="clr"/>
		<input type="submit" value="login" />
		<br />
		<p class="tiny">Don't have an account? <a href="/register/">Register</a>.</p>
		<p class="tiny">Forgot your password? <a href="/register/">Reset it</a>.</p>
	</div>
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% else %}
    <input type="hidden" name="next" value="/profile/" />
{% endif %}
</form>

{% endblock %}
