.category {
	width: 900px;
	margin: 0 auto;
	background-color: #222222;
	opacity: 0.9;
	border: 1px solid #000;
	-moz-box-shadow: 0px 1px 0px #454545;
	-webkit-box-shadow: 0px 1px 0px #454545;
	box-shadow: 0 1px 0 #454545;
}
