.category {
	width: 860px;
	margin: 0 auto;
	background-color: #222222;
	opacity: 0.9;
	border: 1px solid #000;
	-moz-box-shadow: 0px 0px 0px 1px #454545;
	-webkit-box-shadow: 0px 0px 0px 1px #454545;
	box-shadow: 0px 0px 0px 1px #454545;
	padding: 20px;
	margin-bottom: 20px;
}

.cat-title {
	line-height: 2em;
	font-size: 1.5em;
}

.board-even {
	background-color: #282828;
	border: 1px solid #454545;
	margin: 5px 0px;
}

.board-odd {
	background-color: #343434;
	border: 1px solid #454545;
	margin: 5px 0px;
}

.board-title {
	line-height: 1.25em;
	font-size: 1.25em;
}

